.campos{
	border: none;
    border-bottom: 3px solid #3E3E3E;
    border-radius: 5px;
    background-color: transparent;
    color: gray;
    font-family: tahoma;
    font-size: 26px;
}

.campo{
	margin: 10px;
}

.labels{
	font-size: 15px;
    font-family: tahoma;
    text-align: left;
}

.inputs{
	padding: 20px;
}

#dadosPrincipais{
	padding: 10px;
	background-color: #e3e3e3;
	box-shadow: 2px 2px #000;
}

#dadosPessoais{
	margin-top: 20px;
	padding: 10px;
	background-color: #e3e3e3;
	box-shadow: 2px 2px #000;
}

#escolaridade{
	margin-top: 20px;
	padding: 10px;
	background-color: #e3e3e3;
	box-shadow: 2px 2px #000;
}

#dadosProfissionais{
	margin-top: 20px;
	padding: 10px;
	background-color: #e3e3e3;
	box-shadow: 2px 2px #000;
}

#dadosEscola{
	margin-top: 20px;
	padding: 10px;
	background-color: #e3e3e3;
	box-shadow: 2px 2px #000;
}

#dadosInteresse{
	margin-top: 20px;
	padding: 10px;
	background-color: #e3e3e3;
	box-shadow: 2px 2px #000;
}

.chack{
	font-family: tahoma;
	margin: 10px;
}